.aside-info {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	top: 10px;
	left: 0;
	pointer-events: none;

	a {
		margin-right: -21px;
		padding: 6px 7px 2px;
		background: #ffffff;
		font-size: $font-size-med;
		font-weight: bold;
		font-family: $font-headings;
		color: $color-text;
		position: relative;
		z-index: 100;
		pointer-events: all;
		transform: rotate(270deg);
		text-transform: uppercase;
		text-decoration: none;
	}
}
