.section-community {
	// padding: 97px 0 505px;  // TODO - reenable
	padding: 97px 0 105px;
	background: #fefefe;

	.container {
		width: 1075px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: space-between;

		article {
			width: 250px;
			min-height: 250px;
			margin-bottom: 20px;
			flex-grow: 0;
			flex-shrink: 0;
			position: relative;

			&:not(.intro) {
				// top: 400px; // TODO - reenable
			}

			&.intro {
				padding: 0px 0 47px;

				&:before {
					width: 266px;
					height: 6px;
					background: #ffdac9;
					content: '';
					position: absolute;
					top: 54px;
					left: -22px;
				}

				h2 {
					margin: -10px 0 -8px 0;
					font-weight: bold;
					font-family: $font-headings;
					line-height: 52px;
					letter-spacing: -2px;
					position: relative;
				}

				.btn-primary {
					padding: 8px 10px 4px 9px;
					font-size: $font-size-med;
					font-weight: bold;
					font-family: $font-headings;
					line-height: 52px;
					letter-spacing: 0.18px;
					color: $color-text;
					background: #ffdac9;
					text-decoration: none;
				}

				p {
					margin: 25px 0 0 0;
					padding-right: 25px;
					font-size: $font-size-large;
					font-weight: bold;
					font-family: $font-headings;
					line-height: 25px;
					letter-spacing: 0.44px;
				}
			}

			&.image .inner {
				padding: 15px 13px 14px 15px;
				background: #ffffff;
				box-shadow: 0px 15px 50px #0000000f;

				.icon-photo {
					width: 60px;
					height: 60px;
					position: absolute;
					top: 0;
					right: 0;
				}
			}

			&.post .inner {
				padding: 25px 25px 16px;
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				background: #ffffff;
				box-shadow: 0px 15px 50px #0000000f;

				h4 {
					margin-bottom: 16px;
					text-align: left;
					font-size: $font-size-large;
					font-weight: bold;
					line-height: 1;
					letter-spacing: 0.44px;
				}

				p {
					margin-bottom: 22px;
					text-align: left;
					line-height: 20px;
					letter-spacing: 0.15px;
					opacity: 1;
				}

				ul.list-meta {
					margin: auto 0 0 0;
					padding: 0;
					list-style: none;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					font-family: $font-headings;

					li.item-meta {
						margin: 0 0 0 14px;
						padding: 0;
						display: flex;
						align-items: center;

						.icon-heart,
						.icon-comment {
							margin-right: 5px;
						}

						.icon-heart {
							width: 12px;
							height: 13px;
						}
						.icon-comment {
							width: 13px;
							height: 12px;
						}
					}
				}
			}

			&.note {
				min-height: auto;
				align-self: center;
				margin-bottom: 40px;
				padding-right: 45px;
				line-height: 1.3;
				letter-spacing: 0.15px;
			}

			.inner {
				min-height: 250px;
				position: relative;
				z-index: 1;
			}

			img[class^='floaty'] {
				position: absolute;
				z-index: 0;

				&.floaty3 {
					width: 134px;
					height: 98px;
					bottom: -25px;
					left: 165px;
				}

				&.floaty4 {
					width: 24px;
					height: 72px;
					bottom: -15px;
					right: -15px;
				}

				&.floaty5 {
					width: 138px;
					height: 138px;
					bottom: -33px;
					left: 44px;
				}
			}
		}
	}
}
