@import '_aside-info';
@import '_section-hero';
@import '_section-community';
@import '_section-map';
@import '_section-menu';

.overflow {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
