@font-face {
	font-display: swap;
	font-family: 'DIN Condensed';
	src: url('/static/fonts/DINCondensed-Bold.woff2') format('woff2'),
		url('/static/fonts/DINCondensed-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: 'Gill Sans';
	src: url('/static/fonts/GillSans.woff2') format('woff2'),
		url('/static/fonts/GillSans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: 'Gill Sans';
	src: url('/static/fonts/GillSans-Italic.woff2') format('woff2'),
		url('/static/fonts/GillSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-display: swap;
	font-family: 'Gill Sans';
	src: url('/static/fonts/GillSans-Bold.woff2') format('woff2'),
		url('/static/fonts/GillSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: 'Gill Sans';
	src: url('/static/fonts/GillSans-BoldItalic.woff2') format('woff2'),
		url('/static/fonts/GillSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
