<section class="section-menu" id="menu">
	<div class="container">
		<div class="rules">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="intro">
			<h2>
				<span class="text">Our Menu</span>
			</h2>
			<a class="btn-primary" href="#">KNOW MORE</a>
		</div>
		<div class="articles">
			<article class="up">
				<div class="detail">
					<h2>Starters</h2>
					<ul class="list-dishes">
						<li class="item-dish">
							<h5>QUINOA CROQUETTAS</h5>
							<p>
								Quinoa and cheddar croquettas with aji rocotto & pineapple salsa
								(v)
							</p>
							<div class="price">
								£4.95
							</div>
						</li>
						<li class="item-dish">
							<h5>CHIFA CHICHARRONES</h5>
							<p>
								Slow cooked, crispy pork belly with sweet soy sauce
							</p>
							<div class="price">
								£6.95
							</div>
						</li>
						<li class="item-dish">
							<h5>CALAMARES</h5>
							<p>
								Crispy baby squid with pickled jalapeño miso salsa
							</p>
							<div class="price">
								£6.95
							</div>
						</li>
					</ul>
				</div>
			</article>
			<article class="down">
				<div class="detail">
					<h2>Main Courses</h2>
					<ul class="list-dishes">
						<li class="item-dish">
							<h5>EL CLASICO</h5>
							<p>
								Sea bass ceviche with aji limo tiger’s milk, sweet potato purée,
								choclo corn, red onion, coriander & plantain (gf)
							</p>
							<div class="price">
								£8.95
							</div>
						</li>
						<li class="item-dish">
							<h5>TIRADITO CALLAO</h5>
							<p>
								Cobia tiradito with coriander tiger’s milk, black tobika, crème
								fraiche & sweet potato crunchies
							</p>
							<div class="price">
								£8.95
							</div>
						</li>
					</ul>
				</div>
			</article>
			<article class="up">
				<div class="detail">
					<h2>Sides</h2>
					<ul class="list-dishes">
						<li class="item-dish">
							<h5>SUPER POLLO</h5>
							<p>
								Marinated corn fed chicken pieces with rocotto salsa
							</p>
							<div class="price">
								£4.95
							</div>
						</li>
						<li class="item-dish">
							<h5>PATATAS FRITAS</h5>
							<p>
								Sweet potato fries with aji rocotto mayonnaise (v)
							</p>
							<div class="price">
								£3.95
							</div>
						</li>
					</ul>
				</div>
			</article>
			<article class="down">
				<div class="detail">
					<h2>Desserts</h2>
					<ul class="list-dishes">
						<li class="item-dish">
							<h5>ICECREAM</h5>
							<p>
								Lorem ipsum dolor sit amet salerma petrum sea
							</p>
							<div class="price">
								£3.95
							</div>
						</li>
						<li class="item-dish">
							<h5>TIRAMISU</h5>
							<p>
								Lorem ipsum dolor sit amet salerma petrum sea
							</p>
							<div class="price">
								£3.95
							</div>
						</li>
						<li class="item-dish">
							<h5>CHOCOLATE BROWNIE</h5>
							<p>
								Lorem ipsum dolor sit amet salerma petrum sea
							</p>
							<div class="price">
								£3.95
							</div>
						</li>
					</ul>
				</div>
			</article>
		</div>
	</div>
</section>
