<section class="section-community" id="community">
	<div class="container">
		<article>
			<!-- Spacer -->
		</article>
		<article class="intro">
			<h2>MEET OUR COMMUNITY</h2>
			<a class="btn-primary" href="#">KNOW MORE</a>
			<p>
				LOREM IPSUM DOLOR SIT AMET ERNUT TEMPARTERO SERTU PER NABORE EN TORNA
				ENTALTO
			</p>
		</article>
		<article class="image">
			<div class="inner">
				<svg class="icon-photo">
					<use xlink:href="/static/icons.svg#photo"></use>
				</svg>
				<img src="//placehold.it/222" alt="" />
			</div>
			<img src="/static/images/community3.png" alt="" class="floaty3" />
		</article>
		<article class="post">
			<div class="inner">
				<h4>@buzzfeedfood</h4>
				<p>
					It’s taco Tuesday! These tacos from @jesseszewczyk have no added
					sugars and are SO good 🌮. Find the recipe from the link in our bio!
					📸: @taylormillerphoto
				</p>
				<ul class="list-meta">
					<li class="item-meta">
						<svg class="icon-comment">
							<use xlink:href="/static/icons.svg#comment"></use>
						</svg>
						60
					</li>
					<li class="item-meta">
						<svg class="icon-heart">
							<use xlink:href="/static/icons.svg#heart"></use>
						</svg>
						14,7K
					</li>
				</ul>
			</div>
			<img src="/static/images/community4.png" alt="" class="floaty4" />
		</article>
		<article class="post">
			<div class="inner">
				<h4>@love_food</h4>
				<p>
					Waffle sticks in Copenhagen! 🇩🇰😍 Milk chocolate with sprinkles, dark
					chocolate with coconut and milk chocolate with peanuts! [📷:
					@foodwithmichel] #lovefood
				</p>
				<ul class="list-meta">
					<li class="item-meta">
						<svg class="icon-comment">
							<use xlink:href="/static/icons.svg#comment"></use>
						</svg>
						789
					</li>
					<li class="item-meta">
						<svg class="icon-heart">
							<use xlink:href="/static/icons.svg#heart"></use>
						</svg>
						99,7K
					</li>
				</ul>
			</div>
			<img src="/static/images/community5.png" alt="" class="floaty5" />
		</article>
		<article class="image">
			<div class="inner">
				<svg class="icon-photo">
					<use xlink:href="/static/icons.svg#photo"></use>
				</svg>
				<img src="//placehold.it/222" alt="" />
			</div>
		</article>
		<article>
			<!-- Spacer -->
		</article>
		<article>
			<!-- Spacer -->
		</article>
		<article class="note">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Duis aute irure.
		</article>
		<article>
			<!-- Spacer -->
		</article>
		<article class="post">
			<div class="inner">
				<h4>@buzzfeedfood</h4>
				<p>
					Getting into long weekend mode like 🍤 #pancitpalabok (📷 @jeepneynyc)
				</p>
				<ul class="list-meta">
					<li class="item-meta">
						<svg class="icon-comment">
							<use xlink:href="/static/icons.svg#comment"></use>
						</svg>
						152
					</li>
					<li class="item-meta">
						<svg class="icon-heart">
							<use xlink:href="/static/icons.svg#heart"></use>
						</svg>
						18,2K
					</li>
				</ul>
			</div>
		</article>
		<article class="image">
			<div class="inner">
				<svg class="icon-photo">
					<use xlink:href="/static/icons.svg#photo"></use>
				</svg>
				<img src="//placehold.it/222" alt="" />
			</div>
		</article>
	</div>
</section>
