<header class="header-main">
	<nav class="nav-primary">
		<div class="logo">Logo</div>
		<ul class="list-nav">
			<li class="item-nav"><a href="#">About</a></li>
			<li class="item-nav"><a href="#">Community</a></li>
			<li class="item-nav"><a href="#">Location</a></li>
			<li class="item-nav"><a href="#">Our Menu</a></li>
			<li class="item-nav"><a href="#">Recipies</a></li>
		</ul>
	</nav>
	<nav class="nav-secondary">
		<ul class="list-nav">
			<li class="item-nav"><a href="#">Contact</a></li>
			<li class="item-nav"><a href="#">Login</a></li>
		</ul>
	</nav>
</header>
