<nav class="nav-sections">
	<ul class="list-nav">
		<li class="item-nav">
			<a href="#hero" aria-label="hero"><span>01</span></a>
		</li>
		<li class="item-nav">
			<a href="#community" aria-label="community"><span>02</span></a>
		</li>
		<li class="item-nav">
			<a href="#location" aria-label="location"><span>03</span></a>
		</li>
		<li class="item-nav">
			<a href="#menu" aria-label="menu"><span>04</span></a>
		</li>
		<li class="item-nav"><a href="#" aria-label="empty"></a></li>
		<li class="item-nav"><a href="#" aria-label="empty"></a></li>
	</ul>
</nav>
